<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/../../style.css" />
    <link rel="stylesheet" href="/../../userStyle.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar justify-content-center">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
        <div class="wrapper fadeInDown">
          <div id="formContent">
            <h1 class="fadeInDown">Reset Password</h1>
              <% if(locals.errorObject) { %>
                <p class="alert alert-danger" role="alert"><%= locals.errorObject %></p>
              <% } %>
            <form action='/reset/<%=params.userId%>/<%=params.token%>' method='POST' class="form" id="loginForm">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="New password">
                <input type="password" id="confirmPassword" class="fadeIn third" name="confirmation" placeholder="Repeat new password">
              <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
          </div>
        </div>
    <script>

    </script>
  </body>
  <script src="/../../script.js"></script>
</html>
